{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="mb-4">Checkout Cart</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col col-md-6 offset-md-3">
            {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                            <tr>
                            </tr>
                            </thead>

                            {% for item in bag_items %}
                                {% if 'product' in item %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img src="{{ item.product.image.url|lower }}" alt="" class="img-fluid rounded">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>Product-Name: {{ item.product.name }}</strong></p>
                                        <p class="my-3"><strong>Price: £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                        <p class="my-3">
                                            <strong>Size:</strong>
                                            {% if item.product.has_sizes %}
                                                {{ item.product.size|upper }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </p>
                                        <form method="POST" class="form update-form" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <!-- decrement button -->
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-dark rounded-0"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                                        class="form-control form-control-sm qty_input">
                                                    <!-- increment button -->
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-dark rounded-0"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                    <input type="hidden" name="size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                                <a class="update-link text-info"><small>Update</small></a>
                                            </div>
                                            <input type="hidden" name="item_id"
                                                value="{% if 'product' in item %}{{ item.product.id }}{% endif %}">
                                            <input type="hidden" name="item_type"
                                                value="{% if 'product' in item %}product{% endif %}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                            <input type="submit" value="Update" class="btn update-form">
                                        </form>
                                        <form class="remove-item">
                                            <input type="hidden" value="{{ csrf_token }}" name="csrf_token">
                                            <input type="hidden" name="item_id"
                                                value="{% if 'product' in item %}{{ item.product.id }}{% elif 'plan' in item %}{{ item.plan.id }}{% endif %}">
                                            <input type="hidden" name="item_type"
                                                value="{% if 'product' in item %}product{% elif 'plan' in item %}plan{% endif %}">
                                            <input type="submit" value="Remove" class="btn">
                                        </form>
                                    </td>
                                </tr>
                               {% elif 'plan' in item %}
                               <tr>
                                   <td class="p-3 w-25">
                                       <img src="{{ item.plan.image.url|lower }}" alt="" class="img-fluid rounded">
                                   </td>
                                   <td class="py-3">
                                       <p class="my-0"><strong>Plan-Name: {{ item.plan.name }}</strong></p>
                                       <p class="my-3"><strong>Price:
                                               £{{ item.plan.price | calc_subtotal:item.quantity }}</strong></p>
                                       <p class="my-3">
                                       <form method="POST" class="form"
                                           action="{% url 'adjust_bag' item.item_id %}">
                                           {% csrf_token %}
                                           <div class="form-group">
                                               <div class="input-group">
                                                   <!-- decrement button -->
                                                   <div class="input-group-prepend">
                                                       <button class="decrement-qty btn btn-sm btn-dark rounded-0"
                                                           data-item_id="{{ item.item_id }}"
                                                           id="decrement-qty_{{ item.item_id }}">
                                                           <span>
                                                               <i class="fas fa-minus fa-sm"></i>
                                                           </span>
                                                       </button>
                                                   </div>
                                                   <input type="number" name="quantity" value="{{ item.quantity }}"
                                                       min="1" max="99" data-item_id="{{ item.item_id }}"
                                                       id="id_qty_{{ item.item_id }}"
                                                       class="form-control form-control-sm qty_input">
                                                   <!-- increment button -->
                                                   <div class="input-group-append">
                                                       <button class="increment-qty btn btn-sm btn-dark rounded-0"
                                                           data-item_id="{{ item.item_id }}"
                                                           id="increment-qty_{{ item.item_id }}">
                                                           <span>
                                                               <i class="fas fa-plus fa-sm"></i>
                                                           </span>
                                                       </button>
                                                   </div>
                                               </div>
                                           </div>
                                            <input type="hidden" name="item_id" value="{% if 'plan' in item %}{{ item.plan.id }}{% endif %}">
                                            <input type="hidden" name="item_type" value="{% if 'plan' in item %}plan{% endif %}">
                                            <input type="hidden" name="csrf_token"  value="{{ csrf_token }}">
                                            <input type="submit" value="Update" class="btn update-form">
                                       </form>
                                       <form class="remove-item">
                                           <input type="hidden" value="{{ csrf_token }}" name="csrf_token">
                                           <input type="hidden" name="item_id" value="{% if 'product' in item %}{{ item.product.id }}{% elif 'plan' in item %}{{ item.plan.id }}{% endif %}">
                                           <input type="hidden" name="item_type" value="{% if 'product' in item %}product{% elif 'plan' in item %}plan{% endif %}">
                                           <input type="submit" value="Remove" class="btn">
                                       </form>
                                   </td>
                               </tr>
                               {% endif %}
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="col-sm-12">
                                            <div class="pt-5 text-center">
                                                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                                <h4 class="mt-4"><strong>Grand Total:
                                                        £{{ grand_total|floatformat:2 }}</strong>
                                                </h4>
                                                {% if free_delivery_delta > 0 %}
                                                <p class="mb-1 text-danger">
                                                    If you spend<strong>£{{ free_delivery_delta }}</strong> more!
                                                    You will get free delivery.
                                                </p>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 text-center">
                                                <a href="{% url 'checkout' %}" class="btn btn-dark rounded-0 btn-lg">
                                                    <span class="text-uppercase">Checkout Securely</span>
                                                </a>
                                            </div>
                                            <br>
                                                <div class="col-12 text-center">
                                                    <a class="btn btn-dark rounded-0 btn-lg"
                                                           href="{% url 'products' %}">
                                                        <span class="text-uppercase">Back to
                                                               Products</span>
                                                    </a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="col-12 text-center">
                    <p class="mb-5">Your bag is empty</p>
                    <a class="btn btn-dark rounded-0 btn-lg" href="{% url 'products' %}">
                        <span>
                            <i class="fas fa-arrow"></i>
                        </span>
                        <span class="text-uppercase">Back to Products</span>
                    </a>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-form').click(function(e) {
        // var form = $(this).prev('.update-form');
        // form.submit();
         event.preventDefault()
         const form = event.target.parentElement;
         const url = `/bag/adjust/${form.item_id.value}/`;
         const data = {
         'csrfmiddlewaretoken': form.csrf_token.value,
         'item_type': form.item_type.value,
         'item_id': form.item_id.value,
         'quantity': form.quantity.value
         };

         $.post(url, data).done(function() {
         location.reload();
         });
    })

    // Remove item and reload on click
    $('.remove-item').submit(function(event) {
        event.preventDefault()
        const form = event.target;
        const url = `/bag/remove/${form.item_id.value}/`;
        const data = {
            'csrfmiddlewaretoken': form.csrf_token.value,
            'item_type': form.item_type.value,
            'item_id': form.item_id.value,
        };

        $.post(url, data).done(function() {
            location.reload();
        });

    });
</script>
{% endblock %}
