{% extends "base.html" %}
{% load static %}

{% block page_block %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container header-image-text h-100 pt-50">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 font-white text-black">
                    Begin your journey to Be Fit
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-button btn btn-lg rounded-0 text-uppercase py-3">Start Shopping</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="header-image"></div>
{% endblock %}