<div class="collapse main-navbar navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'home' %}" class="nav-link font-weight-bold mr-5 text-white text-uppercase" id="nutrition-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5 text-white text-uppercase" id="exercise-link"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Exercise Plans
            </a>
            <div class="dropdown-menu" aria-labelledby="exercise-link">
                <a href="{% url 'plans' %}"
                    class="dropdown-item">All Plans</a>
                <a href="" class="dropdown-item">Weight Management Plan</a>
                <a href="" class="dropdown-item">Strength &amp; Conditioning Plan</a>
                <a href="" class="dropdown-item">Caleisthenics Plan</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="nav-link font-weight-bold mr-5 text-white text-uppercase" id="product-link"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fitness Products
            </a>
            <div class="dropdown-menu" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=clothing,gym_equipment,supplements_vitamins"
                    class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=gym_equipment" class="dropdown-item">Gym Equipment</a>
                <a href="{% url 'products' %}?category=supplements_vitamins" class="dropdown-item">Supplements &amp; Vitmamins</a>
            </div>
        </li>
    </ul>
</div>


