{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid text-center header-container">
    <div class="row">
        <div class="col-12">
            <h2>{{ plan.name }}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-3">
                <div class="image-container my-5">
                    <!-- loop through plans to render image -->
                    {% if plan.image %}
                    <a href="{{ plan.image.url|lower }}" target="_blank">
                        <img src="{{ plan.image.url|lower }}" alt="{{ plan.name }}" class="card-img-top img-fluid">
                    </a>
                    {% else %}
                    <!-- default image if no image exists -->
                    <a href="">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ plan.name }}" class="card-img-top img-fluid">
                    </a>
                    {% endif %}
                </div>
            </div>
            <!-- plan details and information -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="plan-details mb-5 mt-md-5">
                    <h3>Plan Details</h3>
                    <div>
                        <ul class="detail-list">
                            <li>
                                Program Length: {{ plan.plan_length }} Weeks
                            </li>
                            <li>
                                Days per Week: {{ plan.days_per_week }} 
                            </li>
                            <li>
                                Difficulty: {{ plan.difficulty }}
                            </li>
                            <li>
                                Equipment: {{ plan.equpment_needed }}
                            </li>
                            <li>
                                 {% if plan.plan_category %}
                                 <p class="mt-1 mb-0">
                                     <a href="{% url 'plans' %}?plan_category={{ plan.plan_category.name }}"
                                         class="text-muted">
                                         Plan Category: {{ plan.plan_category.friendly_name }}
                                     </a>
                                 </p>
                                 {% endif %}
                            </li>
                            <li></li>
                        </ul>
                    </div>

                    <p class="lead mb-0 text-left font-weight-bold">{{ plan.price }}</p>
                    {% if plan.plan_category %}
                    <p class="small mt-1 mb-0">
                        <a href="{% url 'plans' %}?plan_category={{ plan.plan_category.name }}" class="text-muted">
                            <i class="fas fa-tags mr-1"></i>{{ plan.plan_category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if plan.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1">{{ plan.rating }} / 5</i></small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="" class="text-success">Edit</a>
                    </small>
                    <small class="ml-3">
                        <a href=" " class="text-danger">Delete</a>
                    </small>
                    {% endif %}
                    <form method="POST" action="{% url 'add_to_bag' plan.id %}" class="form">
                        {% csrf_token %}
                        <div class="form-row">
                            <!-- Return to plans button -->
                            <div class="col-12">
                                <input type="submit" value="Add to Cart" class="btn btn-dark">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 offset-3 text-center">
                <h3>Overview</h3>
                <p>{{ plan.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}