{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Plans</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <!-- current category buttons and links -->
        <div class="col text-center">
            <h3 class="side-heading">Current Category</h3>
            <ul class="list-inline">
                {% for c in current_categories %}
                <li class="list-inline-item">
                    <a href="{% url 'plans' %}?plan_category={{ c.name }}" class="text-decoration-none side-badge">
                        <span class="p-2 mt-2 badge badge-dark rounded-0 border w-100">{{ c.friendly_name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-2 d-none d-md-block d-sm-none side-buttons mt-5">
            <!-- Accordian for sorting through plans -->
            <p class="text-muted mt-3 text-center text-md-left pl-5">
                Displaying {{ plans|length }} plans {% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
                {% if search_term %}
                {% endif %}
            </p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <h3 class="side-heading">Sort</h3>
                <div class="accordion-item">
                    <h2 class="accordion-header side-badge" id="panelsStayOpen-headingOne">
                        <button class="badge btn-dark w-100" type="button" data-toggle="collapse"
                            data-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            By Price
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body bg-white">
                            <div class="d-grid gap-2">
                                <a class="sort-text" href=" {% url 'plans' %}?sort=price&direction=asc"><span
                                        class="btn w-100">Price
                                        (low to
                                        high</span></a>
                                <a class="sort-text" href=" {% url 'plans' %}?sort=price&direction=desc">
                                    <span class="btn w-100">Price
                                        (high to
                                        low)</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header side-badge" id="panelsStayOpen-headingTwo">
                        <button class="badge collapsed btn-dark w-100" type="button" data-toggle="collapse"
                            data-target="#collapseExample1">
                            By Rating
                        </button>
                    </h2>
                    <div class="collapse" id="collapseExample1">
                        <div class="accordion-body bg-white">
                            <div class="d-grid gap-2">
                                <a class="sort-text" href="{% url 'plans' %}?sort=rating&direction=asc"><span
                                        class="btn w-100">Rating
                                        (low to
                                        high</span></a>
                                <a class="sort-text" href=" {% url 'plans' %}?sort=rating&direction=desc">
                                <span class="btn w-100">
                                    Rating
                                    (high to
                                    low)
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header side-badge" id="panelsStayOpen-headingThree">
                        <button class="badge collapsed btn-dark w-100" type="button" data-toggle="collapse"
                            data-target="#collapseExample2">
                            By Name
                        </button>
                    </h2>
                    <div class="collapse" id="collapseExample2">
                        <div class="accordion-body bg-white">
                            <div class="d-grid gap-2">
                                
                                <a class="sort-text" href="{% url 'plans' %}?sort=name&direction=desc">
                                    <span class="btn w-100">Name
                                        (A-Z)</span>
                                </a>

                                
                                <a class="sort-text" href="{% url 'plans' %}?sort=name&direction=asc">
                                    <span class="btn w-100">Name
                                        (Z-A)</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header side-badge" id="panelsStayOpen-headingFour">
                        <button class="badge collapsed btn-dark w-100" type="button" data-toggle="collapse"
                            data-target="#collapseExample3">
                            By Category
                    </button>
                    </h2>
                    <div class="collapse" id="collapseExample3">
                        <div class="accordion-body bg-white">
                            <div class="d-grid gap-2">
                                <a class="sort-text" href="{% url 'plans' %}?sort=plan_category&direction=asc">
                                    <span class="btn w-100">Category
                                        (A-Z)</span>
                                </a>
                                <a class="sort-text"
                                    spanhref="{% url 'plans' %}?sort=plan_category&direction=desc">
                                <span class="btn w-100">Category
                                    (Z-A)</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="plan-container col-10 mt-5">
            <div class="row">
                <!-- for loop to iterate through plans/generate column card -->
                {% for plan in plans %}
                <div class="col-sm-5 col-md-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <!-- loop through plans to render card image -->
                        {% if plan.image %}
                        <a href="{% url 'plan_detail' plan.id %}">
                            <img src="{{ plan.image.url|lower }}" alt="{{ plan.name }}"
                                class="card-img-top img-fluid">
                        </a>
                        {% else %}
                        <!-- default image if no image exists -->
                        <a href="{% url 'plan_detail' plan.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ plan.name }}"
                                class="card-img-top img-fluid">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ plan.name }}</p>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ plan.price }}</p>
                                        {% if plan.plan_category %}
                                        <p class="small mt-1 mb-0">
                                            <a href="{% url 'plans' %}?plan_category={{ plan.plan_category.name }}"
                                                class="text-muted">
                                                <i class="fas fa-tags mr-1"></i>{{ plan.plan_category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        {% if plan.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1">{{ plan.rating }} /
                                                5</i></small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}
                                        {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="" class="text-success">Edit</a> |
                                        </small>
                                        <small class="ml-3">
                                            <a href="{% url 'delete_plan' plan.id %}" class="text-danger">Delete</a>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}