<div class="toast my-toast" data-autohide="false">
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
        <small>11 mins ago</small>
        <button type="button" class="close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
            <hr>
        </div>
        {% if grand_total and not on_profile_page %}
            <p>Your Cart ({{ product_count }})</p>
            <hr>
            <div class="cart-items bag-notification">
                {% for item in bag_items %}
                    <div class="col-3 ml-3">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="Product image" class="w-100">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="Product image" class="w-100">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                        <p class="my-0 small">Qty: {{ item.quantity }}</p>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col side-badge">
                    <strong><p>
                        Total £ {{ total|floatformat:2 }}
                    </p></strong>
                    <a href="{% url 'view_bag' %}" class="btn btn-dark side-badge">
                        <span class="text-uppercase">Checkout Securely</span>
                        <span class="icon">
                            <i class="fas fa-cart-arrow-down"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>